 <div class="section hero">
    <img src="{{ .Site.BaseURL }}images/Bank.jpg" class="hero-img" alt="hero-img" >
    <div class="container">
      <h1 class="section-heading">{{ .Title }}</h1>
    </div>
  </div>
  
  <div class="section main-content">
    <div class="container">
      
      <article class="main-content_block contact">

 
            <p>{{ .Site.Params.contact}}</p>
            <div class="my-form">
              <div class="docs-example docs-example-forms">
                  <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/s5u4c0" data-code="s5u4c0" method="post" target="_blank">
                      <div class="ml-form-formContent">
                        <div class="ml-form-fieldRow">
                          <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                            <label>Email</label>
                            <input type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="" autocomplete="email" required>
                          </div>
                        </div>
                        <div class="ml-form-fieldRow ml-last-item">
                          <div class="ml-field-group ml-field-notify_pref ml-validate-required">
                            <label>Email me when:</label>
                            <div>
                              <div class="custom-control custom-radio">
                                <input name="fields[notify_pref]" class="custom-control-input" type="radio" value="There&#039;s a change in the top 5" id="radio13}-0" required>
                                <label class="custom-control-label" for="radio13}-0"> There's a change in the top 5 </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input name="fields[notify_pref]" class="custom-control-input" type="radio" value="There&#039;s a new leader" id="radio13}-1" required>
                                <label class="custom-control-label" for="radio13}-1"> There's a new leader </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input name="fields[notify_pref]" class="custom-control-input" type="radio" value="Any of my selected banks change their rates" id="radio13}-2" required>
                                <label class="custom-control-label" for="radio13}-2"> Any of my selected banks change their rates </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="ml-submit" value="1">
                      <div class="ml-form-embedSubmit">
                        <button type="submit" class="primary">Enter</button>
                        <button disabled="disabled" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"><div></div><div></div><div></div><div></div></div> </button>
                      </div>
                  </form>
              </div>
            </div>
        </article>
         
    </div>
</div>

<script>
    function ml_webform_success_2781407(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-2781407 .row-success").show(),r(".ml-subscribe-form-2781407 .row-form").hide()}
  </script>
  <script src="https://static.mailerlite.com/js/w/webforms.min.js?v3fd38428efea6ca0487b1230e27a86c6" type="text/javascript"></script>

 <script>
    
 </script>